/* 768 */
/* layout */
@media screen and (max-width: 768px){
 
    .container{
        width: 768px;
    }
}
/* 480 */
/* layout */
@media screen and (max-width: 480px){
    .container{
        width: 480px;
    }
    .lessons .col{
        width: 77%;
    }
    .row{
        flex-direction: column;
        align-items: center;
    }
    .steps .col{
        width: 100%;
    }
    .why-us .col-left{
        width: 100%;
    }
    .why-us{
        background-color: rgb(24 19 19);
    }
}